.goods {
    padding: 60px 0;
}

.goods__box {
    margin: 72px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 0 0 60px 0;
    
}

#shelf .goods__box, #central .goods__box {
    grid-template-columns: repeat(2, 1fr)
}

#atmos .goods__box {
    grid-template-columns: 1fr;
}

#atmos .title {
    text-align: center;
}